@media screen and (max-width: 600px)
{
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgb(54, 54, 54);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 580px;
  width: 820px;
  border: 2px solid black;
  border-radius: 10%;
  filter: blur(0.8px);
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  height: 560px;
  width: 800px;
  border: 2px solid black;
  border-radius: 10%;
}

#start-btn {
  padding: 10px 30px;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 22px;
  border-radius: 7%;
  cursor: pointer;
}

.level-text {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 20px;
  overflow: hidden;
  border-right: .65em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typing 2s steps(20, end) forwards;
  font-size: 20px;
  width: 0;
}

.retro-overlay {
  position: absolute;
  opacity: 50%;
  border-radius: 10%;
  transform: scaleY(1.03);
  filter: blur(0.2px);
  pointer-events: none;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 56%
  }
}

.fa-spinner {
  color: rgb(5, 255, 38);
  font-size: 30px;
  padding: 10px;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.text-1 {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 20px;
  overflow: hidden;
  border-right: .65em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typing1 2s steps(20, end) forwards;
  font-size: 20px;
  width: 0;
}

@keyframes typing1 {
  from {
    width: 0
  }

  to {
    width: 50%
  }
}

.intro-btn {
  padding: 10px 30px;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 22px;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.intro-btn:hover {
  background-color: darkseagreen;
}

.intro-btn:active {
  background-color: rgb(62, 82, 62);
}

.mission-btn {
  padding: 10px 30px;
  background-color: rgb(248, 235, 44);
  font-family: monospace;
  font-size: 22px;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.mission-btn:hover {
  background-color: rgb(228, 20, 20);
}

.intro-btn:active {
  background-color: rgb(62, 82, 62);
}

.mission-confirm-btn1 {
  padding: 10px 30px;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 22px;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.mission-confirm-btn1:hover {
  background-color: rgb(62, 82, 62);
}

.mission-confirm-btn2 {
  padding: 10px 30px;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 22px;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.mission-confirm-btn2:hover {
  background-color: rgb(228, 20, 20);
}

.intro-choices {
  padding-top: 20px;
  transition: 0.3s;
}

.health-bar {
  font-size: 29px;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  padding: 0px 4px;
  margin-top: 30px;
  letter-spacing: 1px;
}

.level {
  font-size: 29px;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  padding: 0px 4px;
  margin-top: 30px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.fa-space-awesome {
  background-color: rgb(5, 255, 38);
  font-size: 24px;
  letter-spacing: 5px;
  padding: 5px 4px;
  margin-top: 30px;
  margin-left: 10px;
}

.hud {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.credits-bar {
  font-size: 29px;
  font-family: monospace;
  background-color: rgb(5, 255, 38);
  margin-top: 30px;
  margin-left: 10px;
  padding: 0px 6px 0px 6px;
  letter-spacing: 3px;
}

.ship-text1 {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 20px;
  overflow: hidden;
  border-right: .65em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typingship1 2s steps(20, end) forwards;
  font-size: 20px;
  margin-top: 30px;
  width: 0;
}

@keyframes typingship1 {
  from {
    width: 0
  }

  to {
    width: 78%
  }
}

.broke-text {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 20px;
  overflow: hidden;
  border-right: .55em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typingbroke 2s steps(20, end) forwards;
  font-size: 20px;
  width: 0;
  margin-top: 30px;
}

@keyframes typingbroke {
  from {
    width: 0
  }

  to {
    width: 53%
  }
}

.station-text1 {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 20px;
  overflow: hidden;
  border-right: .65em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typingstation 2s steps(20, end) forwards;
  font-size: 20px;
  width: 0;
  margin-top: 30px;
}

@keyframes typingstation {
  from {
    width: 0
  }

  to {
    width: 77%
  }
}

.mission-confirm-text {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 20px;
  overflow: hidden;
  border-right: .65em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typingmission 2s steps(20, end) forwards;
  font-size: 20px;
  width: 0;
  margin-top: 30px;
  margin-bottom: 12px;
}

@keyframes typingmission {
  from {
    width: 0
  }

  to {
    width: 67%
  }
}

.menu-text {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 20px;
  overflow: hidden;
  border-right: .65em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typingmenu 2s steps(20, end) forwards;
  font-size: 20px;
  width: 0;
  margin-top: 30px;
}

@keyframes typingmenu {
  from {
    width: 0
  }

  to {
    width: 63%
  }
}

.hud-mission {
  position: absolute;
  top: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.mission-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.planet {
  position: absolute;
  right: 50px;
  height: 250px;
  width: 260px;
  background-color: rgb(5, 255, 38);
  border-radius: 50%;
  display: flex;
}

.ship {
  position: relative;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid rgb(5, 255, 38);
  margin-right: 600px;
  animation: shipflight 15s
}

@keyframes shipflight {
  0% {
    margin-right: 600px
  }

  50% {
    margin-right: -500px;
  }

  100% {
    margin-right: 600px;
    transform: scaleX(-1);
  }
}

.mission-begin {
  padding: 10px 30px;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 22px;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.mission-results-btn {
  padding: 100px;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 22px;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
  opacity: 80%;
}

.mission-results-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(5, 255, 38);
  height: 350px;
  width: 600px;
  font-family: monospace;
  font-size: 22px;
  border-radius: 7%;
  margin: 10px;
  color: black;
  border: 1px solid black;
  opacity: 80%;
  gap: 6px
}

.result-text {
  margin-left: 30px;
}

.results-number {
  background-color: black;
  color: rgb(5, 255, 38);
  padding: 0px 4px 0px 4px;
  display: flex;
  margin-right: 30px;
}