@media only screen and (max-width: 600px) {
  .main {
    justify-content: flex-start !important;
    align-items: center !important;
    flex-direction: column !important;
    overflow: hidden !important;
  }

  .settings-dropdown {
    width: 100% !important;
    height: 100% !important;
  }

  .settings-toggle {
    font-size: 1.28rem !important;
    background-color: rgb(5, 255, 38) !important;
    font-family: monospace !important;
    padding: 2px !important;
    position: absolute !important;
    left: 108% !important;
    top: 60% !important;
  }

  .start-wrapper {
    margin-top: 30px !important;
    justify-content: flex-start !important;
    align-items: center !important;
    flex-direction: column !important;
  }


  .hud {
    position: absolute !important;
    top: 25rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }

  .hud-mission {
    position: absolute !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    top: 26rem !important;
  }

  .intro-choices {
    position: absolute;
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
    margin: 2px !important;
  }

  .level-text,
  .text-1,
  .menu-text,
  .mission-confirm-text,
  .ship-text1,
  .station-text1 {
    position: absolute !important;
    top: 100px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1rem !important;
    border-right: none !important;
    white-space: normal !important;
    margin-left: 22px !important;
    margin-right: 16px !important;
    width: 99vw !important;
    padding: 2px !important;
  }

  .mission-btn {
    position: absolute !important;
    top: 100px !important;
  }

  .broke-text {
    position: absolute !important;
    top: 1rem !important;
    left: 15rem !important;
    font-size: 16px !important;
    padding: 2px !important;
    width: 100% !important;
    white-space: normal !important;
  }

  .mission-name-text {
    width: 90vw !important;
    font-size: 0.82rem !important;
  }

  .planet-name-text {
    font-size: 1.4rem !important;
  }

  .mission-results-box {
    position: absolute !important;
    top: 2rem !important;
    height: 32vh !important;
    width: 70vw !important;
    font-size: 1.2rem !important;
    gap: 3px !important;
    margin-bottom: 50px !important;
  }

  .mission-next {
    position: absolute !important;
    top: 20rem !important;
  }

  .return-btn {
    position: absolute !important;
    top: 20rem !important;
  }

  .intro-btn {
    margin: 4px !important;
  }

  .health-bar,
  .credits-bar,
  .fa-space-awesome {
    margin-top: 10px !important
  }

  .settings-toggle {}

  .mission-results-btn {
    position: absolute !important;
    top: 2rem !important;
    height: 32vh !important;
    width: 70vw !important;
    font-size: 1.2rem !important;
    gap: 3px !important;
    margin-bottom: 50px !important;
  }

  .mission-briefing-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    text-align: center !important;
    width: 80% !important;
    margin-bottom: auto !important;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-image: -moz-linear-gradient(112.1deg, rgb(15, 16, 19) 11.4%, rgb(63, 76, 119) 70.2%);
  background-image: -o-linear-gradient(112.1deg, rgb(15, 16, 19) 11.4%, rgb(63, 76, 119) 70.2%);
  background-image: linear-gradient(112.1deg, rgb(15, 16, 19) 11.4%, rgb(63, 76, 119) 70.2%);
  background-image: -webkit-linear-gradient(112.1deg, rgb(15, 16, 19) 11.4%, rgb(63, 76, 119) 70.2%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36.25rem;
  width: 51.25rem;
  border: 2px solid black;
  border-radius: 10%;
  filter: blur(0.8px);
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  height: 35rem;
  width: 50rem;
  border: 2px solid black;
  border-radius: 10%;
}

#start-btn {
  padding: 0.625rem 1.875rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 22px;
  border-radius: 7%;
  cursor: pointer;
}

#start-btn:hover {
  background-color: darkseagreen;
}

.level-text {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.25rem;
  overflow: hidden;
  border-right: .65em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typing 2s steps(20, end) forwards;
  font-size: 20px;
  width: 0;
  margin-top: 30px;
}

.retro-overlay {
  position: absolute;
  opacity: 45%;
  border-radius: 10%;
  transform: scaleY(1.03);
  filter: blur(0.2px);
  pointer-events: none;
  z-index: 2;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 57%
  }
}

.loading-text {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.25rem;
  overflow: hidden;
  border-right: .65em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: loading 4.5s steps(20, end) forwards;
  font-size: 20px;
  width: 0;
}

@keyframes loading {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.text-1 {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.25rem;
  overflow: hidden;
  border-right: .65em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typing1 2s steps(20, end) forwards;
  font-size: 20px;
  width: 0;
  margin-top: 30px;
}

@keyframes typing1 {
  from {
    width: 0
  }

  to {
    width: 51%
  }
}

.intro-btn {
  padding: 0.625rem 1.875rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.375rem;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.intro-btn:hover {
  background-color: darkseagreen;
}

.intro-btn:active {
  background-color: rgb(62, 82, 62);
}

.mission-btn {
  padding: 0.625rem 1.875rem;
  background-color: rgb(248, 235, 44);
  font-family: monospace;
  font-size: 1.5rem;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.mission-btn:hover {
  background-color: rgb(228, 20, 20);
}

.intro-btn:active {
  background-color: rgb(62, 82, 62);
}

.mission-confirm-btn1 {
  padding: 0.625rem 1.875rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.375rem;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.mission-confirm-btn1:hover {
  background-color: rgb(62, 82, 62);
}

.mission-confirm-btn2 {
  padding: 0.625rem 1.875rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.375rem;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.mission-confirm-btn2:hover {
  background-color: rgb(228, 20, 20);
}

.intro-choices {
  padding-top: 1.25rem;
  transition: 0.3s;
}

.health-bar {
  font-size: 1.58rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  padding: 0.05rem 0.25rem;
  margin-top: 30px;
  letter-spacing: 1px;
}

.level {
  font-size: 1.8rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  padding: 0rem 0.25rem;
  margin-top: 30px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.fa-space-awesome {
  background-color: rgb(5, 255, 38);
  font-size: 24px;
  letter-spacing: 5px;
  padding: 5px 4px;
  margin-top: 30px;
  margin-left: 10px;
}

.hud {
  position: absolute;
  top: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.credits-bar {
  font-size: 1.81rem;
  font-family: monospace;
  background-color: rgb(5, 255, 38);
  margin-top: 30px;
  margin-left: 10px;
  padding: 0px 6px 1px 6px;
  letter-spacing: 3px;
}

.ship-text1 {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 20px;
  overflow: hidden;
  border-right: .65em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typingship1 2s steps(20, end) forwards;
  font-size: 20px;
  margin-top: 30px;
  width: 0;
}

@keyframes typingship1 {
  from {
    width: 0
  }

  to {
    width: 79%
  }
}

.broke-text {
  top: 21rem;
  position: absolute;
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 20px;
  overflow: hidden;
  border-right: .55em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typingbroke 2s steps(20, end) forwards;
  font-size: 20px;
  width: 0;
  margin-top: 30px;
}

@keyframes typingbroke {
  from {
    width: 0
  }

  to {
    width: 52%
  }
}

.station-text1 {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.25rem;
  overflow: hidden;
  border-right: .65em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typingstation 2s steps(20, end) forwards;
  width: 0;
  margin-top: 30px;
}

@keyframes typingstation {
  from {
    width: 0
  }

  to {
    width: 78%
  }
}

.mission-confirm-text {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.25rem;
  overflow: hidden;
  border-right: .65em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typingmission 2s steps(20, end) forwards;
  width: 0;
  margin-top: 30px;
  margin-bottom: 12px;
}

@keyframes typingmission {
  from {
    width: 0
  }

  to {
    width: 68%
  }
}

.menu-text {
  color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.25rem;
  overflow: hidden;
  border-right: .65em solid rgb(5, 255, 38);
  white-space: nowrap;
  animation: typingmenu 2s steps(20, end) forwards;
  width: 0;
  margin-top: 30px;
}

@keyframes typingmenu {
  from {
    width: 0
  }

  to {
    width: 64%
  }
}

.hud-mission {
  position: absolute;
  top: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.mission-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.planet {
  position: absolute;
  right: 3.125rem;
  height: 15.625rem;
  width: 16.25rem;
  background-color: rgb(5, 255, 38);
  border-radius: 50%;
  display: flex;
}

.explorer-ship {
  height: 65%;
  width: 65%;
}

.ship {
  position: relative;
  margin-right: 600px;
  animation: shipflight 8.5s
}

@keyframes shipflight {
  0% {
    margin-right: 600px
  }

  40% {
    transform: scaleX(1);
  }

  50% {
    margin-right: -500px;
    transform: scaleX(-1);
  }

  100% {
    margin-right: 600px;
    transform: scaleX(-1);
  }
}

.mission-begin {
  padding: 0.625rem 1.875rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.375rem;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.mission-results-btn {
  padding: 5.5rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.375rem;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
  opacity: 80%;
}

.mission-results-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(5, 255, 38);
  height: 21.875rem;
  width: 37.5rem;
  font-family: monospace;
  font-size: 1.375rem;
  border-radius: 7%;
  margin: 10px;
  color: black;
  border: 1px solid black;
  opacity: 80%;
  gap: 6px;
  animation: results-load-in 1.5s;
}

@keyframes results-load-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%
  }
}


.result-text {
  margin-left: 30px;
}

.results-number {
  background-color: black;
  color: rgb(5, 255, 38);
  padding: 0rem 0.25rem 0rem 0.25rem;
  display: flex;
  margin-right: 30px;
}

.mission-name-text {
  margin-left: 200px;
  margin-right: 200px;
  width: 80%;
  font-family: monospace;
  font-size: 1.1rem;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: rgb(5, 255, 38);
  opacity: 80%;
}

.planet-name-text {
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  width: 70vw;
  font-family: monospace;
  font-size: 1.875rem;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: rgb(5, 255, 38);
  opacity: 80%;
}

.mission-briefing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
}

.salvage-items-result {
  text-align: center;
}

.game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  transition: 0s !important;
}

.game-over-text1 {
  font-size: 30px;
  color: rgb(5, 255, 38);
  font-family: monospace;
  animation: youdied 2s;
  text-shadow: rgb(166, 248, 112) 1px 0 5px;
}

.game-over-text2 {
  font-size: 50px;
  color: rgb(5, 255, 38);
  font-family: monospace;
  animation: gameover 3s;
  text-shadow: rgb(166, 248, 112) 1px 0 5px;
}

@keyframes youdied {
  from {
    margin-left: 400px;
  }

  to {
    margin-left: 0px;
  }
}

@keyframes gameover {
  from {
    margin-right: 400px;
  }

  to {
    margin-right: 0px;
  }
}

#restart-btn {
  padding: 0.625rem 1.875rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 22px;
  border-radius: 7%;
  cursor: pointer;
  margin-top: 30px;
  color: black;
}

.restart-link {
  text-decoration: none;
}

#restart-btn:hover {
  background-color: aquamarine;
}

.mission-next {
  padding: 0.625rem 1.875rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.375rem;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.return-btn {
  padding: 0.625rem 1.875rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.375rem;
  border-radius: 7%;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.launch-btn {
  padding: 0.625rem 1.875rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.375rem;
  border-radius: 7%;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.skip-btn {
  position: absolute;
  top: 1rem;
  padding: 0.225rem 1rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  font-size: 1.375rem;
  border-radius: 7%;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
  color: black;
  border: 1px solid white;
}

.space-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 60%;
  filter: blur(0.6px);
  overflow: hidden;
}

.settings-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10%;
}

.settings-wrapper2 {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10%;
}

.settings-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(14, 184, 37);
  height: 100%;
  width: 100%;
  font-size: 1.375rem;
  z-index: 1;
  border-radius: 10%;
}

.settings-toggle {
  font-size: 1.58rem;
  background-color: rgb(5, 255, 38);
  font-family: monospace;
  padding: 0.20rem 0.25rem;
  margin-top: 30px;
  letter-spacing: 1px;
  margin-left: 10px;
}

.settings-toggle:active {
  background-color: rgb(241, 22, 22);
}

.settings-toggle:hover {
  background-color: seagreen;
  cursor: pointer;
}

.settings-text {
  font-size: 1.58rem;
  font-family: monospace;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.settings-text:hover {
  color: rgb(71, 248, 94);
}

.settings-header {
  margin-bottom: 40px;
  font-size: 3rem;
  font-family: monospace;
  animation-duration: infinite;
  animation: bubbleheader 2s infinite;
}

@keyframes bubbleheader {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}